.filter-container {
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    width: 80%;
    margin: 8px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 0px 8px 0px rgba(98, 127, 172, 0.2);
}
.clear-applied-filter {
    display: none;
    @media (max-width: 768px) {
        display: block;
        padding: 4px;
        color: #fff;
        background: #de0c0c;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
}
.button-container {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
